{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "^react",
    "<THIRD_PARTY_MODULES>",
    "app/*",
    "utils/*",
    "features/*",
    "pages/*",
    "@mdi/*",
    "components/*",
    "^[./]",
    "",
    "<TYPES>",
    "<TYPES>^[.]"
  ],
  "importOrderTypeScriptVersion": "5.3.3",
  "tailwindConfig": "./tailwind.config.js"
}
