@import 'tailwindcss/components';

@layer components {
  .Tiptap-wrapper {
    > div:not(:last-child):not(:first-child) {
      @apply w-full;
    }

    &.Tiptap-viewer {
      div.ProseMirror {
        @apply focus-visible:outline-none;
      }
    }

    &:not(.Tiptap-viewer) {
      @apply flex flex-col rounded transition-colors;

      > div:has(div.ProseMirror) {
        @apply flex h-0 min-h-0 grow resize-y flex-col overflow-y-scroll border-x border-neutral-100 bg-neutral-50 bg-opacity-50;
      }

      span.ProseMirror-selectednode {
        @apply outline outline-2 outline-primary;
      }
    }

    div.ProseMirror {
      @apply grow p-5 caret-primary focus:outline-0;

      > * + * {
        @apply mt-2;
      }

      > div.ProseMirror-gapcursor::after {
        @apply border-t-foreground;
      }

      p {
        @apply whitespace-pre-wrap text-justify;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply text-justify;
      }

      a {
        @apply px-0.5 font-semibold text-info underline decoration-1 underline-offset-2 hover:animate-pulse hover:brightness-125;

        &::after {
          @apply ml-0.5 inline-block size-[0.9em] bg-info align-middle;
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Eopen-in-new%3C/title%3E%3Cpath d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z' /%3E%3C/svg%3E");
          -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Eopen-in-new%3C/title%3E%3Cpath d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z' /%3E%3C/svg%3E");
          mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Eopen-in-new%3C/title%3E%3Cpath d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z' /%3E%3C/svg%3E");
          content: '';
        }

        &:visited {
          @apply text-secondary;
          &::after {
            @apply bg-secondary;
          }
        }
      }

      ul {
        @apply list-disc;
      }

      ol {
        @apply list-decimal;
      }

      ul,
      ol {
        padding-inline-start: 20px;

        li:not(:first-child) {
          @apply mt-2;
        }
      }

      ul[data-type='taskList'] {
        padding-inline-start: 0;

        > li {
          @apply flex;

          > label {
            @apply mr-2 shrink-0 grow-0 basis-0 select-none;

            > input {
              @apply accent-primary;
            }
          }

          > div {
            @apply flex-auto;
          }
        }
      }

      ul li,
      ol li {
        @apply list-item;
      }

      span.node-image {
        @apply align-text-bottom;
      }

      img {
        @apply inline-block h-auto max-w-full;
      }

      code:not([data-node-view-content]) {
        font-family: 'JetBrainsMono', monospace;
        @apply mx-1 whitespace-break-spaces rounded bg-neutral-300 p-1 text-sm leading-7;
      }

      pre {
        font-family: 'JetBrainsMono', monospace;

        code {
          @apply block w-max px-4 py-6 text-sm text-inherit;
        }

        .hljs-comment,
        .hljs-quote {
          color: #616161;
        }

        .hljs-variable,
        .hljs-template-variable,
        .hljs-attribute,
        .hljs-tag,
        .hljs-name,
        .hljs-regexp,
        .hljs-link,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class {
          color: #f98181;
        }

        .hljs-number,
        .hljs-meta,
        .hljs-built_in,
        .hljs-builtin-name,
        .hljs-literal,
        .hljs-type,
        .hljs-params {
          color: #fbbc88;
        }

        .hljs-string,
        .hljs-symbol,
        .hljs-bullet {
          color: #b9f18d;
        }

        .hljs-title,
        .hljs-section {
          color: #faf594;
        }

        .hljs-keyword,
        .hljs-selector-tag {
          color: #70cff8;
        }

        .hljs-emphasis {
          @apply italic;
        }

        .hljs-strong {
          @apply font-bold;
        }
      }

      .details {
        @apply mx-0 my-6 flex w-full gap-1 rounded-lg border border-neutral-100 p-3;

        summary {
          @apply list-none font-bold;
        }

        > button {
          @apply mt-0.5 flex h-5 w-5 items-center justify-center rounded p-0 text-xs;
          line-height: 1;

          &:hover::before {
            @apply text-primary;
          }

          &::before {
            @apply transition-colors;
            content: '\25B6';
          }
        }

        &.is-open > button::before {
          transform: rotate(90deg);
        }

        > div {
          @apply flex min-w-0 flex-1 flex-col gap-4;

          > [data-type='detailsContent'] {
            @apply -ml-4 pr-1.5;

            & > :last-child {
              @apply mb-2;
            }
          }
        }
      }

      .tableWrapper {
        @apply my-6 overflow-x-auto;
      }

      table {
        @apply m-0 mx-auto w-full max-w-full border-collapse overflow-clip;

        td,
        th {
          @apply relative min-w-4 border border-neutral-100 px-2 py-3;

          > * {
            @apply mb-0;
          }
        }

        th {
          @apply bg-neutral-50 text-left font-bold;
        }

        .selectedCell:after {
          @apply pointer-events-none absolute inset-0 z-10 bg-primary bg-opacity-5;
          content: '';
        }

        .column-resize-handle {
          @apply pointer-events-none absolute -bottom-0.5 -right-0.5 top-0 w-0.5 bg-primary;
        }
      }

      &.resize-cursor {
        @apply cursor-col-resize;
      }
    }
  }
}
