@import 'tailwindcss/components';

@layer components {
  .Tiptap-wrapper {
    &.Tiptap-viewer {
      div.ProseMirror {
        @apply focus-visible:outline-none;
      }
    }

    &:not(.Tiptap-viewer) {
      @apply rounded transition-colors;

      > div:not(:last-child):not(:first-child) {
        @apply h-120 min-h-120 resize-y overflow-y-scroll border-x border-neutral-100 bg-neutral-50 bg-opacity-50;
      }

      span.ProseMirror-selectednode {
        @apply outline outline-2 outline-primary;
      }
    }

    > div:not(:last-child):not(:first-child) {
      @apply w-full;
    }

    div.ProseMirror {
      @apply min-h-full p-5 focus:outline-0 caret-primary;

      > * + * {
        @apply mt-1;
      }

      > div.ProseMirror-gapcursor::after {
        @apply border-t-foreground;
      }

      a {
        @apply font-semibold text-primary decoration-1 underline-offset-4 transition-colors visited:text-secondary hover:underline;
      }

      ul {
        @apply list-disc;
      }

      ol {
        @apply list-decimal;
      }

      ul,
      ol {
        padding-inline-start: 20px;

        li:not(:first-child) {
          @apply mt-2;
        }
      }

      ul[data-type='taskList'] {
        padding-inline-start: 0;

        > li {
          @apply flex;

          > label {
            @apply mr-2 shrink-0 grow-0 basis-0 select-none;

            > input {
              @apply accent-primary;
            }
          }

          > div {
            @apply flex-auto;
          }
        }
      }

      ul li,
      ol li {
        @apply list-item;
      }

      span.node-image {
        @apply align-text-bottom;
      }

      img {
        @apply inline-block h-auto max-w-full;
      }

      blockquote {
        @apply ml-2 border-l-4 border-primary bg-neutral-50 bg-opacity-40 py-2 pl-4;
      }

      pre {
        @apply overflow-x-auto bg-neutral-50 px-4 py-3 text-white;
        font-family: 'JetBrainsMono', monospace;

        code {
          @apply block w-max bg-none p-0 text-sm text-inherit;
        }

        .hljs-comment,
        .hljs-quote {
          color: #616161;
        }

        .hljs-variable,
        .hljs-template-variable,
        .hljs-attribute,
        .hljs-tag,
        .hljs-name,
        .hljs-regexp,
        .hljs-link,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class {
          color: #f98181;
        }

        .hljs-number,
        .hljs-meta,
        .hljs-built_in,
        .hljs-builtin-name,
        .hljs-literal,
        .hljs-type,
        .hljs-params {
          color: #fbbc88;
        }

        .hljs-string,
        .hljs-symbol,
        .hljs-bullet {
          color: #b9f18d;
        }

        .hljs-title,
        .hljs-section {
          color: #faf594;
        }

        .hljs-keyword,
        .hljs-selector-tag {
          color: #70cff8;
        }

        .hljs-emphasis {
          @apply italic;
        }

        .hljs-strong {
          @apply font-bold;
        }
      }

      .details {
        @apply mx-0 my-6 flex w-full gap-1 rounded-lg border border-neutral-100 p-3;

        summary {
          @apply list-none font-bold;
        }

        > button {
          @apply mt-0.5 flex h-5 w-5 items-center justify-center rounded p-0 text-xs;
          line-height: 1;

          &:hover::before {
            @apply text-primary;
          }

          &::before {
            @apply transition-colors;
            content: '\25B6';
          }
        }

        &.is-open > button::before {
          transform: rotate(90deg);
        }

        > div {
          @apply flex min-w-0 flex-1 flex-col gap-4;

          > [data-type='detailsContent'] {
            @apply -ml-4 pr-1.5;

            & > :last-child {
              @apply mb-2;
            }
          }
        }
      }

      .tableWrapper {
        @apply my-6 overflow-x-auto;
      }

      table {
        @apply m-0 mx-auto w-full max-w-full border-collapse overflow-clip;

        td,
        th {
          @apply relative min-w-4 border border-neutral-100 px-2 py-3;

          > * {
            @apply mb-0;
          }
        }

        th {
          @apply bg-neutral-50 text-left font-bold;
        }

        .selectedCell:after {
          @apply pointer-events-none absolute inset-0 z-10 bg-primary bg-opacity-5;
          content: '';
        }

        .column-resize-handle {
          @apply pointer-events-none absolute -bottom-0.5 -right-0.5 top-0 w-0.5 bg-primary;
        }
      }

      &.resize-cursor {
        @apply cursor-col-resize;
      }
    }
  }
}
