@import 'tailwindcss/components';

@layer components {
  .wrapper {
    @apply flex flex-col;

    &:not(.viewer) {
      @apply rounded border border-neutral-100 transition-colors focus-within:border-primary;
    }

    > div:last-child {
      @apply w-full grow min-h-0 bg-neutral-50 rounded-b overflow-y-scroll p-1;

      > div {
        @apply size-full overflow-auto focus:outline-0 p-3;

        a {
          @apply transition-colors hover:underline decoration-1 underline-offset-4 visited:text-secondary text-primary font-semibold;
        }

        ul {
          list-style: disc;
        }

        ol {
          list-style: decimal;
        }

        ul, ol {
          padding-inline-start: 20px;

          li:not(:first-child) {
            margin-top: 8px;
          }
        }

        p[data-placeholder]:first-child::before {
          @apply pointer-events-none float-left h-0 text-neutral-400;
          content: attr(data-placeholder);
        }
      }
    }
  }
}