@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

@layer base {
  .safari select {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
  }
}

@layer components {
  select,
  input {
    @apply border-b border-neutral-400 bg-transparent;

    &:not(:disabled) {
      @apply transition-colors hover:border-neutral-600 focus:border-primary focus:outline-none;
    }
  }
  select {
    padding-bottom: 0.1rem;
  }

  textarea {
    @apply rounded border border-neutral-400 bg-neutral-100;

    &:not(:disabled) {
      @apply transition-colors hover:border-neutral-600 focus:border-primary focus:outline-none;
    }
  }
}
